.home{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .home-doctor, .tables-card, .home-queries{
        flex-direction: column;
        justify-content: center;
        width: 100% !important;
    }

    .queries{
        padding: 0 0.5rem;
    }
}
